<%- include('header', {data: {content:'none'}}); -%>
    <div class="basic-page-layout">
    <h1>We're a bunch of developers trying to create a note-taking application to serve your daily note-taking needs.
    </h1>
    </div>
<%- include('footer', {data: {content:'none'}}); -%> 
